<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <style>
        .container{
            height: 100%;
            width: 100%;
            background-color: rgba(136, 0, 255, 0.199);
        }
    </style>
</head>
<body>
    <div class="container"></div>
    <script>
        alert('User with these Registration no. or Roll no. already existed!');
        window.location.href = '/student_detail'; 
    </script>
</body>
</html>
